<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/styleTft.css">
    <title>Summoner TFT</title>
</head>
<body>
    <div class="container">
        <div class="left">
            <div class="icon">
                <a href="#" class="active"><img src="../../public/iconLoL.png" alt="LoL"></a>
                <a href="/Valorant/:slug"><img src="../../public/iconValorant.png" alt="Valorant"></a>
                <a href="/TFT/:slug"><img src="../../public/iconTFT.png" alt="TFT"></a>
            </div>
            <div class="perfil-left">
                <div class="left-perfil">
                    <div class="level-header">300</div>
                    <div class="icon-summoner"><img src="https://ddragon.leagueoflegends.com/cdn/14.9.1/img/profileicon/20.png" alt=""></div>
                    <div class="nick-summoner">
                        <p>Chico #Coin</p>
                        <button>Update</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="rigth">

        </div>
    </div>
</body>
</html>